@charset "UTF-8";

/* Estilo para Telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
}

header {
    padding: 20px 0px 0px 0px;
    background-color: lightgray;
}

h1 {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 15px;
}

h1:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 10px;
}

li:hover {
    text-decoration: underline;
}

 a {
    text-decoration: none;
    color: black;
}

menu {
    padding: 5px;
    background-color: rgb(145, 144, 144);
}

main {
     max-width: 700px;
     border-radius: 10px;
     padding: 15px;
     margin: auto;
     margin-top: 20px;
     background-color: rgb(184, 184, 153);
}

h2 {
    text-align: center;
    text-decoration: underline;
    padding: 5px 5px 15px 5px;
}