@charset "UTF-8";

body {
background-image: linear-gradient(to top, #C7FFED, #008F8C);
}

main {
font-family: Arial, Helvetica,sans-serif;
font-size: 18px;
font-weight: bold;
background-color: white;
width: 500px;
padding: 80px;
margin: auto;
border-radius: 10px;
}

h1 {
text-align: center;
text-decoration: underline;
}

p {
text-align: justify;
}

div {
background-color: gray;
font-size: 18px;
font-weight: normal;
height: 140px;
width: 140px;
display: inline-block;
border: 1px solid black;
text-align: center;
}

div > p {
display: none;
}

div:hover {
background-color: blue;
}

div:hover > p {
display: block;
}

#d1:active > p {
visibility: hidden;
}

#d2:active {
visibility: hidden;
}