@charset "UTF-8";

@media screen and (min-width: 768px) {
    nav {
        display: block;
        text-align: left;
    }

    ul li {
        display: inline-block;
        cursor: pointer;
    }

    nav a {
        background-color: darkgray;
    }        

    #burguer {
        display: none;
    }

    main{
        width: 768px;
        
    }
}