@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 30px 30px 30px 30px;
    background-color: lightblue;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 17px;
    padding-top: 10px;
}

i#burguer {
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: black;
    color: white;
    height: 105px;
    width: 25px;
    padding: 10px;
    line-height: 95px;
    font-size: 28px;
    border-radius: 5px;
}

i#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

nav {
    margin-left: 18px;
    position: absolute;
    top: 0%;
    display: none;
}

ul {
    list-style-type: none;
}

nav > ul > li {
    padding: 10px;
    cursor: pointer;
    width: 55px;
    border-radius: 8px;
    border-top: 2px solid white;
    text-align: center;
    background-color: gray;
    font-size: 17px;
}

li:hover {
    text-decoration: underline;
}

main {
    max-width: 612px;
    padding: 5px;
    margin: 0 auto;
    display: block;
}